@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: color(red);
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  position: relative;
}

.btn-red {
  background-color: color(red);
  color: #fff;
}

.btn-red::after {
  background-color: color(red);
  color: #fff;
}

.btn:hover {
  transition: all 2s;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  //when clicking on the button
  transform: translateY(-1px);
  transform: scaleX(1.5) scaleY(1.6);
  box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.2);
}
